version: '3.9'

services:
  cart-app:
    build:
      context: cart-service
    container_name: cart-app
    environment:
      order_url: http://order-app:8080
      spring.application.name: cart-service
      OTEL_RESOURCE_ATTRIBUTES=service.name: cart-service
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
      spring.sleuth.otel.config.trace-id-ratio-based: 1
      logging.level.root: info
    ports:
      - "9091:8080"

  order-app:
    build:
      context: order-service
    container_name: order-app
    environment:
      spring.application.name: order-service
      logging.level.root: info
      OTEL_RESOURCE_ATTRIBUTES=service.name: order-service
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel-collector:4317
      spring.sleuth.otel.config.trace-id-ratio-based: 1

  otel-collector:
    image: otel/opentelemetry-collector:0.47.0
    command: [ "--config=/etc/otel-collector-config.yaml" ]
    volumes:
      - ./otel-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "1888:1888"   # pprof extension
      - "13133:13133" # health_check extension
      - "4317:4317"        # OTLP gRPC receiver
      - "55670:55679" # zpages extension
    depends_on:
      - jaeger-all-in-one

  jaeger-all-in-one:
    image: jaegertracing/all-in-one
    environment:
      COLLECTOR_ZIPKIN_HOST_PORT: 9411
      COLLECTOR_ZIPKIN_HTTP_PORT: 9411
    ports:
      - "9411:9411"
      - "16686:16686"
      - "5775:5775/udp"
      - "6831:6831/udp"
      - "6832:6832/udp"

